@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Creepster&family=Londrina+Sketch&family=Pattaya&family=Shrikhand&family=Spicy+Rice&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; 
  @apply font-cormorant;
}

.heading {
  @apply font-heading
}
body {
  background-image: url("./assets/bg2.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  background-position: center; 
}


.primary-text {
  color: #ffffffd2;
};
.second-color-bg {
  background-color: #40377D;
}

.second-color {
  color: #40377D;
}

.card {
  width: 250px;
  height: 250px;
  perspective: 1000px;
  margin: 0 auto;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.card-front {
  background: #fff;
}

.card-back {
  background: #4CAF50;
  color: white;
  transform: rotateY(180deg);
}

.carousel-container {
  width: 80vw; 
  margin: auto; 
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .faq-section {
  width: 50%;
  margin: 40px auto;
}
}

.faq-section {
  width: 80%;
  margin: 0px auto;
}

.faq-question {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: black ;
  color: white;
}

.faq-question h2 {
  margin-top: 0;
  cursor: pointer;
}


.svg {
  background-color: white;
}
.faq-answer {
  padding: 20px;
  background-color: rgb(24, 211, 148);
  color: black;

}

.faq-answer p {
  margin-bottom: 20px;
}



.slide {
  animation: slide 0.3s ease-in-out;
}

@keyframes slide {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}