@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Ensure html and body take full height */
}

body {
  background-image: url("./assets/bg2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; /* Make sure the image covers the entire area */
  background-position: center; /* Center the image */
}


.primary-text {
  color: #E6E6FA;
}
.second-color-bg {
  background-color: #40377D;
}

.second-color {
  color: #40377D;
}
